<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/style.css" />
  <link rel="stylesheet" href="../styles/contacts.css" />
  <link rel="stylesheet" href="../styles/sidebar.css" />
  <link rel=" stylesheet" href="../styles/mobile_taskbar.css" />
  <link rel="stylesheet" href="../styles/fonts.css" />
  <link rel="icon" href="../assets/icons/join_icon.svg" />
  <script src="../js/contacts.js"></script>
  <script src="../js/contacts_template.js" ></script>
  <script src="../js/firebaseAPI.js"></script>
  <script src="../js/header.js"></script>
  <script src="../js/script.js"></script>
  <title>Join contacts</title>
</head>

<body onload="initContact()">
  <div w3-include-html="../templates/sidebar.html"></div>
  <div w3-include-html="../templates/header.html"></div>
  <div w3-include-html="../templates/mobile_taskbar.html"></div>
  <div class="contacts-container">
    <div class="contacts-list" id="divContactList">
      <button class="add-contact-button button-text-style" type="button" id="button" onclick="openAddContactDialog()">
        Add new contact
        <img class="icon-contact" src="../assets/icons/person_add_icon.svg" />
      </button>
      <div class="logged-user" id="loggedUserContainer"></div>
      <div class="contacts-list-style" id="divList"></div>
    </div>
    <div class="contact-details-container" id="divContactDetails">
      <a class="mobile-returnback" id="backContact" onclick="backMobileContListe()">
        <img class="arrow" src="../assets/icons/arrow-left-line.svg" />
      </a>
      <div class="contact-details-header">
        <h1 class="contact-details-title">Contacts</h1>
        <div class="seperator"></div>
        <p class="button-text-style">Better with a team</p>
      </div>
      <div class="contacts-details-container" id="divDetails"></div>
    </div>
  </div>
  <div id="dialog" class="dialog-bg d-none" onclick="closeDialog()">
    <div id="dialogContent" class="dialog-content" onclick="dontClose(event)"></div>
  </div>
  <div class="animation-container d-none" id="contactCreated">
    <div class="contact-created ">Contact succesfully created</div>
  </div>
</body>

</html>