<nav class="mobile-taskbar" id="mobile-mysidebar">
    <div id="mobile-menu" class="menu-mobile">
        <a class="a-nav-mobile" href="./summary.html">
            <img class="icon-mobile" src="../assets/icons/summary.svg" />Summary
        </a>
        <a class="a-nav-mobile" href="./board.html">
            <img class="icon-mobile" src="../assets/icons/board.svg" />Board
        </a>
        <a class="a-nav-mobile" href="./add_task.html">
            <img class="icon-mobile" src="../assets/icons/addtask.svg" />Add Task
        </a>
        <a class="a-nav-mobile" href="./contacts.html">
            <img class="icon-mobile" src="../assets/icons/contacts_icon.svg" />Contacts
        </a>
    </div>
</nav>