<nav class="sidebar" id="mysidebar">
  <div class="div-sub-sidebar"><img class="logoimg" src="../assets/icons/joinWhite.svg" />
    <div id="menu" class="menu">
      <a class="a-nav" href="./summary.html"><img class="icon" src="../assets/icons/summary.svg" /> Summary</a>
      <a class="a-nav" href="./add_task.html"><img class="icon" src="../assets/icons/addtask.svg" /> Add Task</a>
      <a class="a-nav" href="./board.html"><img class="icon" src="../assets/icons/board.svg" /> Board</a>
      <a class="a-nav" href="./contacts.html"><img class="icon" src="../assets/icons/contacts_icon.svg" /> Contacts</a>
    </div>
  </div>
  <div class="footer">
    <a href="./privacy_policy.html">Privacy Policy</a>
    <a href="./legal_notice.html">Legal Notice</a>
  </div>
</nav>