.board-add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.task-added-to-board {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.task-added-to-board-style {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 300px;
  border-radius: 20px;
  background-color: #2a3647;
  color: #ffffff;
  font-size: 20px;
}

.board-added-to-task-style img {
  width: 30px;
  height: 30px;
}

.add-task-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.add-task-container h1 {
  font-size: 48px;
}

.add-task-container input {
  border-radius: 10px;
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
}

.add-task-container select {
  border-radius: 10px;
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  gap: 10px;
  padding: 12px 16px 12px 16px;
}

.add-task-container textarea {
  border-radius: 10px;
  width: 440px;
  border: 1px solid #d1d1d1;
  gap: 10px;
  padding: 12px 16px 12px 16px;
}

.headline-task {
  font-size: 61px;
  font-weight: 700;
  white-space: nowrap;
}

.seperator {
  width: 0px;
  height: 24px;
  gap: 0px;
  margin-left: 30px;
  margin-right: 30px;
  border: 1px solid #d1d1d1;
  opacity: 1;
}

.group-task1-input {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 16px;
}

.group-task2-input {
  display: flex;
  flex-direction: column;
  width: 440px;
  gap: 16px;
}

.prio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.prioBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: 136px;
  height: 56px;
  gap: 8px;
  padding: 16px 10px 16px 10px;
  font-weight: bold;
  background-color: #ffffff;
  font-size: 21px;
}

.prioBtn:hover {
  cursor: pointer;
  box-shadow: -4px 4px 8px -5px rgb(90, 90, 90);
}

textarea {
  resize: none;
}

.task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a3647;
  width: 193px;
  height: 56px;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  line-height: 25.2px;
}

.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 120px;
  height: 56px;
  border-radius: 10px;
  padding: 16px;
  gap: 4px;
  font-size: 21px;
  color: #2a3647;
  font-weight: 700;
  border: 1px solid;
}

.task-button:hover {
  background-color: #29abe2;
  border: 0.5px solid #29abe2;
  cursor: pointer;
  box-shadow: -4px 4px 8px -5px rgb(90, 90, 90);
}

.clear-button:hover {
  color: #29abe2;
  border: 0.5px solid #29abe2;
  cursor: pointer;
  box-shadow: -4px 4px 8px -5px rgb(90, 90, 90);
}

.clear-button:hover .icon-cancel-svg {
  filter: invert(53%) sepia(100%) saturate(305%) hue-rotate(153deg)
    brightness(91%) contrast(106%);
}

.midBtn-Color {
  background-color: #ffa800;
  color: #ffffff;
}

.addtask-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 100px;
}

.subtask-container:focus-within {
  border: 1px solid #29abe2;
}

.subtask-container input {
  outline: none !important;
}

.required-field-text {
  z-index: 1;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.required-color {
  color: red;
}

.selected {
  color: white;
}

.user span {
  font-weight: bold;
}

.users-emblem {
  display: inline-flex;
  align-items: center;
  padding-left: 16px;
  height: 40px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.emblem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  margin-left: -8px;
  text-shadow: -3px 4px 3px rgb(74, 74, 74);
  box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.6), inset 0 -3px 4px rgba(0, 0, 0, 0.4), inset -3px 5px 5px rgba(255, 255, 255, 0.7);
}

.contactlist {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  height: 40px;
  cursor: pointer;
  padding: 0px 20px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.categorylist {
  display: flex;
  align-items: center;
  height: 40px;
}

.contactlist:hover {
  background-color: #e2e4e5;
}

.contactlist span {
  width: 100%;
}

.contactlist-selected {
  background-color: #2a3647;
  border: none;
  outline: #2a3647;
  color: white;
}

.contactlist-selected:hover {
  background-color: #091931;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.contact-container:hover {
  cursor: pointer;
}

.contact-container span {
  font-size: 20px;
}

.show {
  display: flex;
  flex-direction: column;
}

.task-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.close-board {
  height: 32px;
  width: 32px;
}

.close-board:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.users {
  display: none;
  position: absolute;
  background-color: #ffffff;
  height: 164px;
  width: 441px;
  overflow: auto;
  border-radius: 10px;
  top: 50px;
  right: -2px;
  gap: 4px;
  padding-inline-start: 0px;
  z-index: 1;
}

input[type='checkbox'] {
  height: 14px;
  width: 14px;
}

.contact-name {
  width: 80%;
}

.tasks {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 441px;
  overflow: auto;
  border-radius: 10px;
  top: 47px;
  right: -2px;
  z-index: 5;
  padding-inline-start: 0px;
}

.subtask-container {
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px 12px 16px;
  background-color: #ffffff;
}

.subtask-container input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1px;
  width: 100%;
}

.subtask-right-add img:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.subtask-right-add {
  display: flex;
}

.subtask-right-add img {
  width: 24px;
  height: 24px;
}

.subtask-right-seperator {
  height: 24px;
  width: 1px;
  margin: 0px 4px;
  background-color: #d1d1d1;
}

.subtask-right-regular img {
  height: 24px;
  width: 24px;
}

.subtask-right-regular img:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.subtask {
  height: 90px;
  overflow-y: auto;
}

.subtasklist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 32px;
  gap: 4px;
  padding: 4px 16px 4px 16px;
}

.subtasklist::before {
  content: '\2022';
}

.subtasklist:hover {
  background-color: #dcdcdc;
  border-radius: 10px;
}

.subtasklist input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  padding: 0;
  height: 21px;
}

.editsubtaskList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 32px;
  gap: 4px;
  padding: 4px 16px 4px 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #29abe2;
  border-radius: 0px;
}

.editsubtaskList input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  padding: 0;
  height: 21px;
}

.editsubtaskList img:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.edit-images {
  display: none;
}

.subtasklist:hover .edit-images {
  display: flex;
}

.flex {
  display: flex !important;
}

.edit-seperator {
  height: 24px;
  width: 1px;
  margin: 0px 4px;
  background-color: #d1d1d1;
}

.dnone {
  display: none;
}

.btnEdit-svg:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #d2d2d2;
}

.grey-emblem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #7a7b7b;
  color: white;
  font-size: 12px;
  margin-left: -8px;
}

.add-task-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px 60px 40px 60px;
  z-index: 2;
  box-shadow: 0px 0px 3px rgb(255, 255, 255);
}

.board-addtask-seperator {
  width: 0px;
  height: 424px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #d1d1d1;
  opacity: 1;
}

.move-left {
  animation: slideIn 0.25s ease-out forwards;
}

.move-right {
  animation: slideOut 0.25s ease-in forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media (max-width: 1425px) {
  .add-task-main-container {
    display: flex;
    align-items: center;
  }
  .headline-task {
    font-size: 56px;
  }
}
@media (max-width: 1270px) {
  .headline-task {
    font-size: 52px;
  }
}

@media (max-width: 1200px) {
  .main-container {
    margin-top: 150px;
    margin-left: 120px;
  }
}

@media (max-width: 1190px) {
  .main-container {
    margin-top: 150px;
    margin-left: 50px;
  }
}

@media (max-width: 1050px) {
  .add-task-main-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px 60px 20px;
    height: 600px;
    overflow: auto;
  }
}

@media (max-width: 980px) {
  .main-container {
    margin-top: 100px;
    margin-left: 0px;
  }

  .add-task-container {
    display: flex;
    flex-direction: column;
  }
  .board-addtask-seperator {
    display: none;
  }
  .required-field-text {
    display: none;
  }

  .group-task1-input input {
    width: 100%;
  }
  .group-task1-input textarea {
    width: 100%;
  }
  .contact-container {
    width: 100%;
  }
  .add-task-container {
    width: 100%;
  }
  #date {
    width: 100%;
  }
  .subtask-container {
    width: 100%;
  }
  .prioBtn {
    width: 100%;
  }

  .group-task1-input {
    gap: 10px;
  }

  .group-task2-input {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .headline-task {
    font-size: 40px;
  }
  .group-task1-input {
    width: 300px;
  }
  .group-task2-input {
    width: 300px;
  }
  .main-container {
    align-items: normal;
  }

  .tasks {
    width: 300px;
  }
  .users {
    width: 300px;
  }
  .user-checkbox {
    width: 20px !important;
  }
  .emblem {
    width: 30px;
    height: 28px;
  }
  .addtask-button-container {
    margin-left: 0px;
  }
  .add-task-container {
    align-items: center;
  }
  .prio-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-container span {
    font-size: 16px;
  }
}

.categoryErrorMessage {
  display: none;
  align-items: center;
  justify-content: start;
  z-index: 99;
  left: 16px;
  top: 4px;
  right: 0px;
  position: absolute;
  width: 300px;
  height: 40px;
  background-color: white;
}
