.smallcard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 230px;
  max-width: 230px;
  margin: 16px;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 24px;
  cursor: pointer;
  background-color: #ffffff;
}

.smallcard:hover {
  rotate: -3deg;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  word-break: break-word;
}

.description {
  word-break: break-word;
  overflow-y: auto;
  max-height: 60px;
}

.show-bigcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.dnone {
  display: none;
}

.bigcard {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 750px;
  position: sticky;
  overflow-y: auto;
  gap: 24px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 48px 40px 48px 40px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  ;
}

.big-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-title {
  word-break: break-word;
}

.big-date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bigPriority img {
  height: 24px;
  width: 24px;
}

.big-priority {
  display: flex;
  align-items: center;
  gap: 8px;
}

.close {
  height: 40px;
  width: 40px;
}

.close:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.bigcard img:hover {
  cursor: pointer;
}

.bigcard-edit {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-block-start: auto;
}

.big-delete {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.big-delete:hover {
  filter: invert(60%) sepia(88%) saturate(1665%) hue-rotate(165deg) brightness(93%) contrast(89%);
  cursor: pointer;
}

.big-seperator {
  width: 0px;
  height: 24px;
  gap: 0px;
  border: 1px solid #d1d1d1;
  opacity: 1;
}

.big-edit {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.big-edit:hover {
  filter: invert(60%) sepia(88%) saturate(1665%) hue-rotate(165deg) brightness(93%) contrast(89%);
  cursor: pointer;
}

.bigUsersEmblem {
  display: inline-flex;
}

.big-useremblem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.small-usersemblem {
  display: flex;
  margin-left: 8px;
}

.small-useremblem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.grey-emblem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #7a7b7b;
  color: white;
  font-size: 12px;
}

/*mobile responsive*/
.mobileBoard {
  display: none;
}

.amobile_boardOptions {
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 5px;
  right: 5px;
  border: 1px solid #f6f7f8;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 0px 3px 0px #9fbdc1;
  font-size: 16px;
}

.amobile_boardOptions {
  text-align: center;
}

.amobile_boardOptions a:hover {
  cursor: pointer;
  color: #f4f4f4;
  font-weight: 400;
  background-color: #29abe2;
  border-radius: 10px;
}

.disabled {
  pointer-events: none;
  cursor: default !important;
  color: #a5a7a7;
}

.disabled:hover,
.disabled:focus,
.disabled:active {
  cursor: default !important;
}

.mobileClose {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.btnClose {
  border: solid 1px #7a7b7b;
  border-radius: 10px;
}

.btnClose:hover {
  cursor: pointer;
  background-color: #29abe2;
  color: #f4f4f4;
}


@media (max-width: 800px) {
  .bigcard {
    height: 75%;
    width: 80%;
  }
}

@media (max-width: 710px) {
  .mobileBoard {
    display: flex;
  }
}

@media (max-width: 650px) {
  .mobileBoard {
    display: flex;
  }
}

@media (max-width: 600px) {
  .bigcard {
    width: 100%;
    padding: 30px 24px 30px 20px;
  }
}
