.contacts-container {
  display: flex;
  flex-direction: row;
  background-color: #f6f7f8;
  height: 100vh;
  width: 100%;
  margin-left: 200px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 30%;
  height: 100%;
  box-shadow: 4px 0px 6px 0px #00000014;
}

.add-contact-button {
  position: sticky;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 8px;
  min-width: 90px;
  max-width: max-content;
  height: 49px;
  border: 0.5px solid #2a3647;
  padding: 0px 15px 0px 15px;
  margin-top: 120px;
  margin-bottom: 16px;
}

.add-contact-button:hover {
  cursor: pointer;
  background-color: #29abe2;
  border: 0.5px solid #29abe2;
  text-decoration: none;
}

.add-contact-button-mobile {
  position: sticky;
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 8px;
  min-width: 90px;
  max-width: max-content;
  height: 49px;
  border: 0.5px solid #2a3647;
  padding: 0px 15px 0px 15px;
}

.add-contact-button-mobile:hover {
  cursor: pointer;
  background-color: #29abe2;
  border: 0.5px solid #29abe2;
  text-decoration: none;
}

.button-text-style {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
}

.button-guest {
  background-color: white;
  color: #2a3647;
  border-radius: 8px;
  min-width: 90px;
  height: 49px;
  border: 0.5px solid #2a3647;
  padding: 0px 15px 0px 15px;
}

.button-guest:hover {
  cursor: pointer;
  color: #29abe2;
  border: 0.5px solid #29abe2;
}

.icon-contact {
  width: 29px;
  height: auto;
  vertical-align: middle;
}

.contacts-list-style {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.a-z-contact-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;
  width: 90%;
  height: 58px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 17px 36px 17px 36px;
  border-bottom: 2px solid #d1d1d1;
}

.contact-list-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  width: 95%;
  height: 78px;
  padding: 15px 24px 15px 24px;
  gap: 35px;
}

.contact-list-container:hover {
  cursor: pointer;
  background-color: #e2e4e5;
  border-radius: 10px;
}

.contact-list-container-selected {
  background-color: #2a3647;
  border: none;
  border-radius: 10px;
  outline: #2a3647;
  color: white;
}

.contact-list-container-selected:hover {
  background-color: #091931;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.contact-emblem {
  display: flex;
  width: 42px;
  height: 42px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 150px;
  margin-left: 16px;
  gap: 16px;
  overflow: hidden;
}

.mobile-returnback {
  justify-content: flex-end;
  margin-right: 20px;
  display: none;
  cursor: pointer;
  position: relative;
}

.mobile-returnback img:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.contact-details-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 73px;
}

.contact-details-title {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: start;
}

.seperator {
  width: 0px;
  height: 60px;
  border: 1px solid #29abe2;
}

.mobile-contact {
  justify-content: flex-end;
  margin-right: 20px;
  display: none;
  cursor: pointer;
  position: relative;
}

.mobile-dropdown-menu {
  display: none;
  flex-direction: column;
  right: 5px;
  gap: 10px;
  border: 1px solid #f6f7f8;
  border-radius: 10px;
  width: max-content;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 0px 3px 0px #9fbdc1;
  position: absolute;
}

.mobile-dropdown-menu a:hover {
  filter: invert(60%) sepia(88%) saturate(1665%) hue-rotate(165deg)
    brightness(93%) contrast(89%);
}

.contacts-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 364px;
  left: 50px;
  gap: 21px;
}

@keyframes move-left {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.move-left {
  animation: move-left 1s ease-in-out;
}

.headline-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.emblem-info-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.emblem-info {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: white;
  font-weight: 400;
  font-size: 57px;
  text-align: center;
  justify-items: center;
  align-content: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.three-dots-button {
  width: 32px;
  height: 32px;
  background-color: #2a3647;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.three-dots-button:hover{
  background-color: #29abe2;
}

.three-dots-button.active {
  background-color: #29abe2;
}


.three-dots-button .dot {
  width: 3px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 2px 0;
}

.name-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.name-contact p {
  font-size: 40px;
  font-weight: 700;
}

.a-name-contact {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 16px;
  font-weight: 500;
}

.a-name-contact a:hover {
  filter: invert(60%) sepia(88%) saturate(1665%) hue-rotate(165deg)
    brightness(93%) contrast(89%);
  cursor: pointer;
}

.a-name-contact a:hover .button-images {
  filter: invert(60%) sepia(88%) saturate(1665%) hue-rotate(165deg)
    brightness(93%) contrast(89%);
}

.info {
  height: 74px;
  font-size: 20px;
  font-weight: 400px;
  line-height: 24px;
  align-content: center;
}

.contact-information {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 400px;
  gap: 15px;
}

.dialog-bg {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  z-index: 1001;
  position: relative;
}

.d-none {
  display: none;
}

.dialog {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 592px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  align-items: center;
  justify-items: center;
}

.join-add-contact {
  background-color: #2a3647;
  border: 3px solid #2a3647;
  border-radius: 20px 0px 0px 20px;
  color: white;
  height: 100%;
  align-content: center;
  padding: 0px 48px 0px 48px;
}

.icon-join-contact {
  width: 55px;
  height: auto;
  margin-bottom: 16px;
}

.add-text {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  margin: 16px 0px 16px 0px;
}

.seperator-add {
  width: 90px;
  height: 0px;
  border: 2px solid #29abe2;
}

.edit-icon {
  margin: 30px;
}

.add-contact-form {
  display: flex;
  gap: 32px;
  margin-right: 40px;
  margin-top: 170px;
  align-items: center;
}

.group-contact-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 422px;
  height: 2165x;
  gap: 16px;
}

.inputs-contact {
  background-repeat: no-repeat;
  background-position: right 10px center;
  width: 100%;
  gap: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
  color: black;
  cursor: pointer;
}

.form-button {
  display: flex;
  margin-top: 32px;
  gap: 24px;
  align-content: center;
}

.button-images {
  vertical-align: middle;
  background-color: transparent;
}

.form-edit-style {
  height: 100%;
}

.button-close {
  display: flex;
  width: 32px;
  height: 32px;
  margin-top: 40px;
  float: right;
  margin-right: 48px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
}

.button-close:hover {
  cursor: pointer;
  background-color: #d2d2d2;
  border-radius: 50%;
}

.animation-container {
  position: relative;
  width: 100%;
  height: 74px;
  overflow: hidden;
  bottom: 120px;
}

.contact-created {
  position: absolute;
  width: 315px;
  height: 74px;
  background-color: #2a3647;
  color: white;
  border-radius: 20px;
  text-align: center;
  align-content: center;
  font-size: 20px;
  animation: moveContactCreated 2.5s ease-in-out;
}

@keyframes moveContactCreated {
  0% {
    margin-left: 100%;
  }

  40%,
  60% {
    margin-left: calc(50% - 150px);
  }

  100% {
    margin-left: 100%;
  }
}

.button-mobile-close {
  display: none;
  width: 100%;
  margin-right: 10px;
  justify-content: flex-end;
  align-items: center;
  border: none;
  background-color: #2a3647;
  cursor: pointer;
}

.button-mobile-close img:hover {
  cursor: pointer;
  scale: 1.1;
}

.white-arrow {
  display: none;
  background-color: #2a3647;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 8px;
}

.dflex-align-center {
  display: flex;
  align-items: center;
}

@media (max-width: 1425px) {
  .sidebar {
    display: flex !important;
  }

  .mobile-taskbar {
    display: none !important;
  }
}

@media (max-width: 1345px) {
  .contacts-list {
    width: 40%;
  }

  .contact-details-header p {
    font-size: 18px;
  }

  .contact-details-title {
    font-size: 50px;
  }

  .emblem-info {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
}

@media (max-width: 1260px) {
  .contacts-container {
    margin-left: 200px;
  }

  .name-contact p {
    font-size: 32px;
  }

  .join-add-contact {
    padding: 0px 25px 0px 25px;
  }

  .edit-icon {
    margin: 10px;
  }

  .dialog {
    height: 510px;
  }

  .add-contact-form {
    margin-top: 120px;
  }
}

@media (max-width: 1050px) {
  .sidebar {
    display: none !important;
  }

  .contacts-container {
    margin-left: 0px !important;
    display: flex;
    justify-content: left;
    height: calc(100vh - 80px);
  }

  .name-contact p {
    font-size: 32px;
  }

  .info {
    height: 60px;
  }

  .mobile-taskbar {
    display: flex !important;
  }

  .dialog {
    height: 480px;
    margin: 5px;
  }

  .join-add-contact {
    padding: 0px 28px 0px 28px;
  }

  .contact-details-title {
    font-size: 40px;
  }

  .edit-icon {
    margin: 10px;
  }

  .group-contact-input {
    width: 370px;
  }

  .add-text {
    font-size: 24px;
  }
}

@media (max-width: 860px) {
  .contact-info-container {
    font-size: 13px;
  }

  .contacts-list {
    width: 40%;
  }

  .contact-list-container {
    gap: 15px;
  }

  .contact-details-header {
    gap: 20px;
  }

  .contact-details-header p {
    font-size: 15px;
  }

  .emblem-info {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }

  .name-contact p {
    font-size: 28px;
  }

  .dialog {
    flex-direction: column;
    height: max-content;
    width: max-content;
  }

  .join-add-contact {
    width: 100%;
    height: 240px;
    border-radius: 20px 20px 0px 0px;
    align-content: flex-start;
    padding-top: 30px;
  }

  .icon-join-contact {
    display: none;
  }

  .form-edit-style {
    height: 50%;
  }

  .button-close {
    display: none;
  }

  .button-mobile-close {
    display: flex;
    margin-bottom: 35px;
  }

  .edit-icon {
    position: fixed;
    margin-top: 205px;
  }

  .edit-icon img {
    width: 70px;
    height: 70px;
  }

  .add-contact-form {
    margin-top: 0px;
    margin-right: 0px;
    padding: 8px;
  }

  .form-button {
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

}

@media (max-width: 710px) {
  .contact-details-container {
    display: none;
    width: 100%;
    margin-top: 120px;
    overflow-y: auto;
  }

  .mobile-returnback {
    display: flex;
  }

  .mobile-contact {
    display: flex;
  }

  .contacts-list {
    width: 100%;
  }

  .contact-info-container {
    font-size: 16px;
  }

  .a-name-contact {
    display: none;
  }

  .mobile-dropdown-menu {
    top: 32px;
    right: 12px;
  }
}

@media (max-width: 500px) {
  .contacts-container {
    width: 100%;
  }

  .contacts-details-container {
    margin-top: 15px;
  }

  .info {
    height: 50px;
  }

  .button-mobile-close {
    margin-bottom: 20px;
  }

  .join-add-contact {
    height: 240px;
    border-radius: 20px 20px 0px 0px;
    align-content: flex-start;
    padding: 20px 20px 0px 20px;
  }

  .add-text {
    font-size: 25px;
    margin: 12px 0px 12px 0px;
  }

}

@media (max-width: 395px) {
  .contact-info-container {
    font-size: 16px;
  }

  .group-contact-input {
    width: 290px;
  }

  .style_InputTypography1 {
    font-size: 14px;
  }

  .contact-details-header {
    height: 50px;
    margin-top: 15px;
  }

  .contact-details-title {
    font-size: 30px;
  }

  .name-contact {
    width: 150px;
  }

  .add-text {
    font-size: 20px;
  }

  .button-text-style {
    font-size: 16px;
  }

  .name-contact p {
    font-size: 20px;
  }
}
