body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(223, 224, 225);
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px #0000001a;
  padding: 20px 40px 20px 348px;
  z-index: 2;
  position: fixed;
  top: 0;
  height: 96px;
  width: 100%;
}

.header-left {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.headerlogoimg {
  display: none;
  height: 48px;
  width: auto;
}

.help {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
}

.help:hover {
  cursor: pointer;
  scale: 1.2;
}

.useremblem {
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #2a3647;
  color: #29abe2;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.useremblem:hover {
  cursor: pointer;
  background-color: #d2d2d2;
}

.dropdown {
  float: right;
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #2a3647;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  top: 72px;
  right: 60px;
  z-index: 1;
  cursor: pointer;
}

.dropdownContent a {
  color: #cdcdcd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #2a3d59;
}

.show {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1050px) {
  .headerlogoimg {
    display: flex;
  }

  .help {
    display: none;
  }

  .header-left {
    display: none;
  }

  .header {
    padding: 20px;
  }
}