body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.dnone {
  display: none !important;
}

.containerLog {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f6f7f8;
  position: relative;
}

.headline-login {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  padding: 30px 30px 0px 30px;
  align-items: flex-start;
}

.img-logo {
  display: none;
  justify-content: flex-start;
  width: 120px;
  height: 120px;
}

.div-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
}

.mobile_divSignUp {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 49px;
  gap: 35px;
  margin-top: 20px;
}

.style_BtnTypography1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
}

.confirm-error {
  height: 15px;
  width: 100%;
}

.pw-error-check {
  color: red;
  display: none;
  font-size: 14px;
}

.style_BtnTypography2 {
  font-weight: 700;
  font-size: 16px;
  align-content: center;
}

.style_InputTypography1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.inputs {
  display: flex;
  width: 100%;
  gap: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  position: relative;
}

.inputs:hover {
  border: 1px solid #29abe2;
}

.inputs:focus-within {
  border: 1px solid #29abe2;
}

.inputs img {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.inputs input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1px;
  width: 100%;
  padding: 12px 21px 12px 21px;
}

.style_InputTypography2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

.btn-join {
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 8px;
  min-width: 90px;
  height: 49px;
  border: 0.5px solid #2a3647;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}

.btn-join:hover {
  cursor: pointer;
  background-color: #29abe2;
  border: 0.5px solid #29abe2;
}

.btn-login {
  background-color: #2a3647;
  color: #ffffff;
  border-radius: 8px;
  min-width: 90px;
  height: 49px;
  border: 0.5px solid #2a3647;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
}

.btn-login:hover {
  cursor: pointer;
  background-color: #29abe2;
  border: 0.5px solid #29abe2;
}

.btn-guest {
  background-color: white;
  color: #2a3647;
  border-radius: 8px;
  min-width: 90px;
  height: 49px;
  border: 0.5px solid #2a3647;
  padding: 0px 15px 0px 15px;
}

.btn-guest:hover {
  cursor: pointer;
  color: #29abe2;
  border: 0.5px solid #29abe2;
}

.btn-disabled {
  background-color: #f6f7f8;
  color: #89898a;
  border-radius: 8px;
  min-width: 90px;
  height: 49px;
  border: 0.5px solid #f6f7f8;
  padding: 0px 15px 0px 15px;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 652px;
  height: 493px;
  padding: 48px 115px 48px 115px;
  gap: 32px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  background: #ffffff;
}

.title {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: center;
}

.underline {
  border-bottom: 3px solid #29abe2;
  padding-bottom: 15px;
}

.groupLogin-input {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 422px;
  height: 196px;
  gap: 20px;
}

.divInputGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 422px;
  height: 48px;
  gap: 10px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
}

.box-remember {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 39px;
  height: 24px;
  width: 90%;
  gap: 8px;
}

.checkBox {
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
  border-radius: 3px 0px 0px 0px;
  border: 2px;
  border: 2px solid #2a3647;
}

form label {
  min-width: 110px;
  height: 19px;
}

.divBtn {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footerLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  gap: 16px;
}

.a_footer {
  color: lightslategray;
  margin: 20px;
  text-decoration: none;
  cursor: pointer;
}

.a_footer:hover {
  color: #29abe2;
  font-weight: bold;
}

.headlineSignUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.a_headlineSignUp {
  margin-right: 60px;
  align-self: flex-start;
}

.a_headlineSignUp:hover {
  background-color: #ece0e0;
  border-radius: 50%;
  padding: 0;
}

.icoArrowLeft {
  width: 32px;
  height: 32px;
  color: #29abe2;
  padding: 0;
  cursor: pointer;
}

.formSignUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 598px;
  padding: 48px 88px 48px 88px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
  gap: 32px;
  background: #ffffff;
}

.groupSignUp-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 422px;
  height: 326px;
  gap: 16px;
}

.box-rememberSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 90%;
  gap: 8px;
}

.a_formSignUp {
  color: #29abe2;
  text-decoration: none;
}

.a_formSignUp:hover {
  text-decoration: underline;
}

.d-none-important {
  display: none !important;
}

.d-none {
  display: none;
}

.dialog-bg {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.signup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74px;
  width: 300px;
  color: white;
  background-color: #2a3647;
  border-radius: 20px;
  font-size: 20px;
}

.dialog {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  justify-items: center;
  animation: moveSignUp 1s ease-in-out;
}

@keyframes moveSignUp {
  0% {
    transform: translateY(1000px);
  }

  100% {
    transform: translateY(50%);
  }
}

@media (max-width: 700px) {
  .div-signup {
    display: none;
  }

  .error-login {
    z-index: 10;
  }

  .mobile_divSignUp {
    display: flex;
  }

  .title {
    font-size: 45px;
  }

  .underline {
    padding-bottom: 5px;
  }

  .form-login {
    width: 530px;
    height: 420px;
    padding: 35px 45px 35px 45px;
    gap: 22px;
  }
}

.error-login {
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
}

.error-login-style {
  display: flex;
  padding: 20px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: #2a3647;
  color: #ff0000;
  font-size: 20px;
}

.error-message-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

@media (max-width: 620px) {
  .a_headlineSignUp {
    margin-top: 25px;
  }

  .formSignUp {
    width: 480px;
    padding: 28px 38px 28px 38px;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 40px;
  }

  .divBtn {
    flex-direction: column;
    gap: 15px;
  }

  .style_BtnTypography1 {
    font-size: 18px;
  }

  .btn-guest {
    height: 40px;
  }

  .btn-login {
    height: 40px;
  }

  .groupLogin-input {
    gap: 18px;
    height: 160px;
  }

  .form-login {
    width: 450px;
    height: 530px;
    padding: 25px;
    gap: 30px;
  }

  .icon-container {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 460px) {
  .title {
    font-size: 35px;
  }

  .groupLogin-input {
    width: 290px;
    gap: 18px;
    height: 160px;
  }

  .form-login {
    width: 315px;
    height: 460px;
    padding: 25px;
  }

  .style_BtnTypography1 {
    font-size: 16px;
  }

  .style_InputTypography2 {
    font-size: 14px;
  }

  .inputs {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .formSignUp {
    width: 380px;
    padding: 28px 38px 28px 38px;
  }

  .groupSignUp-input {
    width: 350px;
    height: 360px;
  }

  .inputs {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .formSignUp {
    width: 315px;
    padding: 8px 18px 8px 18px;
  }

  .groupSignUp-input {
    width: 300px;
  }

  .inputs {
    font-size: 14px;
  }
}

.main-container-login {
  height: 100vh;
  background-color: #f6f7f8;
  position: relative;
}

.icon-container {
  position: absolute;
  animation: moveIcon 4s forwards;
  width: 200px;
  height: 200px;
  z-index: 1;
}

.icon-container img {
  width: 100%;
  height: 100%;
}

@keyframes moveIcon {
  0%,
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }
  100% {
    top: 15px;
    left: 30px;
    transform: translate(0, 0);
    width: 100px;
    height: 100px;
  }
}

.mobile-icon-container {
  position: absolute;
  animation: moveMobileIcon 4s forwards;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.mobile-icon-container img {
  width: 100%;
  height: 100%;
}

@keyframes moveMobileIcon {
  0%,
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    opacity: 0;
  }
  100% {
    top: 15px;
    left: 30px;
    transform: translate(0, 0);
    width: 50px;
    height: 50px;
    opacity: 1;
  }
}

.mobile-icon-container-white {
  position: absolute;
  animation: moveMobileIcon2 4s forwards;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.mobile-icon-container-white img {
  width: 100%;
  height: 100%;
}

@keyframes moveMobileIcon2 {
  0%,
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  100% {
    top: 30px;
    left: 30px;
    transform: translate(0, 0);
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}
