* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter';
}

body {
  background-color: #f6f7f8;
}

.main-color {
  background-color: #2a3647;
}

h1 {
  font-size: 61px;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #344358;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a3647;
}
